.container_details {
  display: flex;
  padding-left: 100px;
  padding-top: 15px;
}

.container_details img {
  height: 400px;
}

.cart_details img {
  align-items: normal;
  filter: invert(100%);
  height: 40px;
  position: absolute;
  right: 16px;
  top: 8px;
  width: 40px;
}

.product_info {
  display: flex;
  flex-flow: column;
}

button {
  align-self: center;
  background: #31c28d;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 38.63px;
  transition-duration: 0.8s;
  width: 244.654px;
}

button:hover {
  background: #fc6436;
  border-radius: 5px;
  color: black;
  height: 38.63px;
}

.reviews {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}
